#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	debugMode: true
	db:
		user: root
		pass: root
		dsn : 'mysql:host=127.0.0.1;dbname=snackhostbo'
php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

services:
	configFLaRM: \FLaRM\DI\FLaRMConfigHelper("mysql:host=127.0.0.1;dbname=snackhostbo", "root", "root")