#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
parameters:
	database:
		driver: mysql
		host: localhost
		host-ip: 127.0.0.1
		dbname: __DBNAME__
		user: __USERNAME__
		password: __PASSWORD__
		options:
			lazy: yes
	teve:
		base-folders:
			- e:\Movies\
